* {
    margin: 0;
    padding: 25;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

#hide_bt {
    background: #000000; 
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

* {
    box-sizing: border-box;
}
#capture_screen
{
    display: block;
}

body {
    font: 16px Arial;
}

datalist {
    width: 100%;
}

#myInput {
    outline: none;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

th, td,tr {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#demo {
    display: none;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 2px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: #585a69;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.select {
    font-size: 5em;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 13px 18px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 5px;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover, .select select:focus {
    color: #707070;
    background: #d4d4d4;
}

.select select:disabled {
    opacity: 0.3;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 9px;
    right: 51px;
    width: 17px;
    height: 17px;
    border: solid #7b7b7b;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover ~ .select_arrow, .select select:focus ~ .select_arrow {
    border-color: #000000;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
